<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is Ejs home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, quaerat, inventore architecto minima deserunt
        id facere tenetur nam at voluptatum iusto nisi laudantium quod dolores! Exercitationem quae a quasi illum?</p>
</body>

</html>